.container {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  color: #333;
  position: relative;
}

.leftSection {
  flex: 2;
  max-width: 600px;
  padding: 2rem;
  background-image: url("../../assets/images/signup.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.leftSection .artCredit{
 font-size: 1.4rem;
padding: 0 1.5rem;

}

.rightSection {
  height: 100%;
  display: flex;
  flex:auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightSection .smallLogo{
  display: none;
}

.signin_option{

  position: absolute;
  top: 5rem;
  right: 5rem;
}
.signin_option h3{
  font-size: 1.4rem;
    font-weight: 600;
}
.signin_option h3 a{
  text-decoration: none;
  color: rgb(95, 95, 229);
}




/* Responsive styles */
@media (max-width: 768px) {
  .leftSection {
    display: none;
  }
  .rightSection {
    max-width: 100%;
    margin-top: 10rem;
  }
    .rightSection .smallLogo {
      display: block;
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
}

@media (max-width: 481px){
.container{
  padding: 1rem;

}
.signin_option {
  top: 3rem;
  right: 3rem;
}
.rightSection{
  margin-top: 6rem;
  padding-top: 2rem;
}

}

@media (max-width: 380px){
  .rightSection{
    padding-top: 4rem;
  }
  .signin_option {
    top: 7rem;
    left: 3rem;
  }
}